<footer>
    <nav>
        <a href='https://jo0oy.github.io/' target='_blank'>Blog</a> |
        <a href='https://github.com/jo0oy/' target='_blank'>Github</a>
    </nav>
    <p>
        <span>Reference : https://developers.kakao.com</span><br>
        <span>Source Code : https://github.com/jo0oy/Convenience-Store-Recommendation</span><br>
        <span>Copyright 2022. jo0oy. All Rights Reserved.</span>
    </p>
</footer>
